html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P";
}

.navbar-nav {
  gap: 35px;
}

.navbar-container {
  width: 100%;
  max-width: none;
}

body, html {
  margin: 0;
  background-color: #222222;
}

.is-error, .nes-btn {
  color: black;
}

.intro {
  display: grid;
  max-width: 30%;;
}

.portrait {
  max-width: 100%;
  width: 600px;
  height: auto;
  margin-left: 10px;
}